@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .top-bar {
    display: flex;
  }

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 1.3rem 0;
    filter: drop-shadow(0 -4px 4px #272a31);
  }

  .main-nav .logo {
    text-transform: uppercase;
    font-family: oswald, sans-serif;
    font-size: 1.3rem;
    color: #272a31;
  }

  .main-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
  }

  .main-nav a {
    text-decoration: none;
    color: #272a31;
  }

  .main-nav a:hover {
    color: #ec5242;
  }

  .main-nav button {
    background-color: #fff;
    border: 5px solid #ec5242;
    padding: 8px 20px;
    color: #ec5242;
    cursor: pointer;
  }

  .home-page {
    padding: 2rem;
    align-items: flex-start;
  }

  .about-page {
    padding: 2rem;
  }

  #home .brief-description-home {
    width: 60%;
    max-width: 600px;
  }

  .main-container {
    gap: 3px;
  }

  .program {
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
  }

  .program p {
    max-width: 160px;
    text-align: center;
  }

  #main button {
    display: none;
  }

  #main a {
    display: inline;
  }

  .speaker-info {
    max-width: 400px;
  }

  .card-wrapper {
    flex-direction: row;
  }

  .partner-about {
    display: none;
  }

  .footer-about {
    background-color: #272a31;
    color: #fff;
  }

  .footer-about span {
    color: #fff;
  }
}

@media screen and (min-width: 1024px) {
  .main-nav .logo {
    font-size: 1.5rem;
  }

  .main-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
  }

  .home-page {
    padding: 4rem;
  }

  .about-page {
    padding: 4rem;
  }

  #home h2 {
    font-size: 2.3rem;
  }

  #home h1 {
    font-size: 4.2rem;
  }
}

@media screen and (min-width: 1400px) {
  .main-nav .logo {
    font-size: 2rem;
  }

  .home-page {
    padding: 10rem;
  }

  .about-page {
    padding: 5rem 7rem;
  }

  #home h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 399px) {
  .program i {
    width: 35px;
    height: 35px;
  }

  .program h3 {
    font-size: 1rem;
  }

  .program p {
    font-size: 12px;
  }
}
